<footer class="py-5" style="background-color: rgb(54, 53, 53); color: white;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h3>SHOPKART</h3>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eveniet cum
                    nam quod mollitia exercitationem, nemo tempore velit quae qui modi eos
                    iusto culpa? Recusandae sapiente aliquam quod voluptatibus eius!
                </p>
            </div>
            <div class="col-md-2 mb-3">
                <h5>Sections</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="{% url 'home' %}" class="text-white">Home</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'register' %}" class="text-white">Register</a></li>
                    <li class="nav-item mb-2"><a href="{% url 'collections' %}" class="text-white">Collections</a></li>
                    <li class="nav-item mb-2"><a href="#" class="text-white">Cart</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Contact</h5>
                <p><i class="fas fa-home mr-2"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope mr-2"></i> info@gmail.com</p>
                <p><i class="fas fa-phone mr-2"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-2"></i> + 01 234 567 89</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Follow us</h5>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
