{% load static %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top" style="background-color: #303030 !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">  <img src="{% static 'images/Shopkart logo letter1.png' %}" alt="Shopkart Logo" style="width: 23px; height: 20px;"> Shopkart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a>
          {% if request.user.is_authenticated %}
          <a class="nav-link" href="#"><i class="fa fa-user"></i> {{ request.user.username }}</a>
          <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> logout</a>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"></i>login</a>
          <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-users"></i> Register</a>
          {% endif %}
          <a class="nav-link" href="{% url 'collections' %}"><i class="fa fa-cube"></i> Collections</a>
          <a class="nav-link" href="{% url 'cart' %}"><i class="fa fa-cart-shopping"></i> Cart</a>
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav> 